*{
    font-family: "quicksand", sans-serif;
	box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-size: 14px;
    color: rgba(0, 0, 0, .6) ;
    margin: 0; 
    line-height: 1.3;
}

a {
    color: inherit;
}

/* MENU */
 
.topmenu {
    background: #2c3e50;
    color: #fff;
}
 
.topmenu a {
    text-decoration: none;
}
 
.blog-logo {
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 12px 0;
}

.menu-link {
    text-align: center;
    padding-bottom: 16px; 
    line-height: 2;
    font-size: 1.2em;
}
 
.login {
    text-align: center;
    font-size: 1.2em;
}
 
.menu-link a, 
.login a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, .65) ;
    transition: color 0.5s;
}
 
.menu-link a:hover,
.menu-link a.active,
.login a:hover {
    color: #fff;
}

/* LOGIN - INSCRIPTION - CONTACT */

.body-login {
	background: #1690A7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}

.login-title {
	text-align: center;
	margin-bottom: 40px;
}

input,
textarea {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}

.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

/* h1 {
	text-align: center;
	color: #fff;
} */

.new-account {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.new-account:hover {
	text-decoration: underline;
} 

/* POST SLIDER */
 
.caroussel-header {
    text-align: center;
    margin: 30px auto;
    color:black
}
 
.caroussel {
    position: relative;
    display: flex;
 
}

.caroussel .cards {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
  
.caroussel .cards .article {
    width: 400px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}
  
.caroussel .cards .article .article-title {
    height: 130px;
    padding: 0px 5px;
}
 
.article-title a {
    text-decoration: none;
}
 
.article-title a:hover {
    color: #2c3e50;
    transition: 0.5s;
}
  
.caroussel .cards .article .image {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.page-wrapper {
    min-height: 100%;
}

.content .main-content {
    width: 70%;
    float: left;
}
  
.content .main-content.single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
} 
  
.content .main-content.single .post-title {
    text-align: center;
    margin-bottom: 40px;
}
  
.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}


/* FOOTER */

.footer {
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}
  
.footer .footer-content {
    height: 350px;
    display: flex;
}
  
.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}
  
.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}
  
.footer .footer-content .about h1 span {
    color: white;
}
  
.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
  
.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 2.3em;
    border-radius: 5px;
    transition: all 0.3s;
}
  
.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all 0.3s;
}
  
.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all 0.3s;
}
  
.footer .footer-content .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all 0.3s;
}
  
.footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    border: none;
}
  
.footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
}
  
.footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    font-family: "Lora", serif;
}
  
.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
 
@media only screen and (min-width: 955px) {
    .topmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 0 25px;
    }
 
    .blog-logo,
    .menu-link {
        padding: 0;
    }
 
    .menu-link a,
    .login a {
        margin: 0 20px;
    } 
 
}
